# Prerequisites
*.d

# Applications
simple_shear

# Tests
mark_interface_test
constitutive_laws_test
crystal_data_test
fe_collection_test
make_periodicity_constraints
line_search_test
tests/line_search_test.debug/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# CMake
Bytes
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/build/

# IDE
.cproject
.metadata
.project
.settings
.vscode

# Meshes and Output
*.med
*.xml
*.vtk
*.msh
*.vtu
*.pvtu
*.visit
*.pvd
*.gpl
*.csv
/results/

# Python compiled modules
*.pyc
*.pyo

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Doxygen
documentation/html/*
documentation/latex/*

# Parameter files
input/parameter_files/*
!input/parameter_files/simple_shear_Bittencourt*
!input/parameter_files/simple_shear_Kergassner*
!input/parameter_files/simple_shear_Lara*

input/crystal_orientation/*
!input/crystal_orientation/2d/
input/crystal_orientation/2d/*
!input/crystal_orientation/2d/euler_angles_02C_30_0.txt

